<p id="notice"><%= notice %></p>

<p>
  <strong>Active Poke:</strong>
  <%= @question.poke %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @question.is_active %>
</p>

<%
=begin %> link_to 'Edit', edit_question_path(@question) %> |
<%
=end %>


<%= link_to 'Close question and show graph', graphs_path %>


